/*----------
utilities
------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
section{
    margin-bottom: 70px;
}
.btn{
    background-color: #E02C6D;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
}

/*----------
Header part
-----------*/
.header-container{
    background-color: #2D25A0;
    width: 100%;
    height: 677px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
}
.header-title{
    position: relative;
    top: 150px;
    left: 150px;
}
.header-banner img{
    Width: 556px;
    height: 438px;
    position: relative;
    top: 153px;
    left: 400px;
}
.header-title h1{
    color: white;
    font-weight: 700;
    font-size: 50px;
}

/*----------------------
Animation inside header
------------------------*/

.animated:hover{
    transform: scale(0.5);
    transition: transform 2s;
    cursor: pointer;
}

/*----------------
Players info part
-----------------*/
.info-card{
    width: 330px;
    height: 474px;
    box-shadow: 0 0 10px gray;

}
.infos{
    padding: 15px;
}
.info-card img{
    width: 100%;
}
.info-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    margin-left: 180px;
}

/*-----------
Bonus part
------------*/
.youtube-part h1{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}
.youtube{
    text-align: center;
    margin-bottom: 50px;
}
.rankings{
    text-align: center;
}
/*-----------
footer part
------------*/
footer img{
    width: 484px;
    height: 110px;
}
.footer-part socials{
    align-items: center;
}
.footer-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*-----------
media queries
------------*/

@media screen and(max-width: 375px){
    body{
        background-color: green;
    }
}
